body {
    background-color: black;
}

.bg-blue{
    background-color: blue;
}

.strong {
    font-weight: bold;
}

.description p{
    width: 30%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 19px;
}
.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
}

section {
    font-family: Helvetica;
    padding-left: 35px;
    padding-right: 35px;
}

.container-section {
    margin: 0 auto;
    width: 90vw;
}

.container-l {
    margin: 0 auto;
    width: 90vw;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.container-s {
    border: 1px solid black;
    width: 500px;
    background-color: rgb(140, 224, 229);
    border-radius: 10px;
    padding: 15px;
}

.container-s p, .container-s-right p{
    font-weight: bold;
}

.container-s-right {
    text-align: right;
    justify-content: right;
    border: 1px solid black;
    width: 500px;
    background-color: rgb(140, 224, 229);
    border-radius: 10px;
    padding: 15px;
}

.container-msg {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.color-containerl{
    background-color: lightblue;
}

.text-white {
    color: white;
}

image{
    max-width: 100%;
}

.features {
    width: 35%;
    background-color: rgb(185, 238, 241);
    padding: 8px 20px;
    float: left;
    transition: color 0.3, fade-in;
    border: 1px solid black;
}

.light-blue {
    background-color: rgb(185, 238, 241);
}

.light-green {
    background-color: rgb(188, 248, 203);
}

.carou-sizing {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: 40%;
    margin-bottom: 20px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
    align-items: right;
    justify-content: right;
}

.response a:hover, .response a:active {
    background: #4b4545d0;
    transition: color 0.5s fade-in;
    transform: scale(1.05);
  }

footer {
    background-color: blue;
    padding: 25px 15px;
    margin-top: 25px;
}

.footer-container {
    display: flex;
}

.footer-item-1 {
    width: 50%;
}

.footer-item-2 {
    width: 50%;
    text-align: right;
    display: flex;
    flex-direction: column;
}

footer p:first-child{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
}

footer p{
    font-family: Tahoma;
    font-size: 17px;
    color: white;
}

footer a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}


